# Requirements.txt
#
# The different package that should be used in order to
# develop and tests this component.
#
# __author__ = fla

python-cinderclient==1.2.1
python-glanceclient==0.18.0
python-keystoneclient==1.4.0
python-neutronclient==2.5.0
python-novaclient==2.25.0
python-swiftclient==2.4.0

oslo.config==1.11.0
oslo.i18n==1.6.0
oslo.serialization==1.5.0
oslo.utils==1.5.0

requests==2.6.0

